<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maggie.implicitintentandsharecontet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--定義分享的資料型態-->
                <data android:mimeType="image/*" />
                <!--如果自己寫了一個APP也要能分享就要在Manifest加上action android:name="ACTION_SEND"，
                當使用者使用分享功能時，自己的APP就會出現在可以選擇分享的APP清單上-->
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>

        <activity android:name=".Main2Activity">
            <!--隱性intent要先加intent-filter-->
            <intent-filter>
                <!--有在mainfest中註冊這個action的actitvity都可以使用-->
                <!--如果只是自己的程式要用，就可以自定義名稱，如下-->
                <action android:name="sendMsg"/>
                <!--用DEAFAULT就是代表聽到sendMsg時就會跳出來-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>